*{
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: Lato;
    src: url(Lato-Light.ttf);
}

body{
    font-family: Lato, Arial, Helvetica, sans-serif;

    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
}

.welcome-text{
    text-align: center;
    padding: 20px;
    font-weight: 300;
    background-color: orangered;
    color: white;
}

.filler{
    height: 20px;
}

.container{
    margin: 10vh 20%;
    min-height: 80vh;
    background-color: rgba(0,0,0,0.4);
    text-align: center;

    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.box{
    display: inline-block;
    width: 150px;
    height: 140px;
    font-size: 140px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(255, 80, 80,0.4);
    margin: 0 -1.5px;
    transition: all 200ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Lato, Arial, Helvetica, sans-serif;

}

.box:hover{
    background-color: lightgray;
}

.box[value=X]{
    color: red;
}

@media screen and (max-width: 991px){
    .container {
        margin: 0;
    }

}

.box:disabled{
    cursor: not-allowed;
    background-color:rgba(0, 0, 0, 0.6);
}




.winner-screen .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.winner-screen .message-box {
    position: absolute;
    width: 30vw;
    left: 35vw;
    top: 35vh;
    text-align: center;
    z-index: 11;
    /* border: 2px darkgray solid;
    border-radius: 5px; */
    background-color: #daa520eb;
    
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3)
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
}

.winner-screen .okay-button:focus {
    border: none;
}

.message-box .title{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 0;
    font-size: 20px;
}

.message-box .body {
    margin: 20px 0;
    font-size: 25px;
}



#new-game, .okay-button {
    padding: 10px 20px;
    color: white;
    background-color: orangered;
    border: none;
    /* border: 2px yellow solid;
    border-radius: 4px; */
    margin: 40px 0;
    transition: all 200ms ease-in-out;
}

.okay-button {

    background-color: purple;

}

#new-game:hover, .okay-button:hover{
    transform: scale(1.15, 1.15);
    background-color: red;
    cursor: pointer;
}

#new-game:active, .okay-button:active {
    transition: none;
    background-color: maroon;

}



.button-wrapper {
    text-align: center;
}

.score {

    width: 15vw;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgb(0,0,255,0.3);
    color: white;
    z-index: -1 ;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3)
}

.score-header{
    background-color: rgb(255,0,0,0.3);
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.player-scores {
    padding: 10px 0;
}

.player-scores.X {
    background-color: rgb(0,255,0,0.3);
}

.player-scores.Y {
    padding: 10px 0;
}


button {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.turn-indicator{
    font-size: 20px;
    color: white;
}

.fade-in{
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms ease-in-out;
}

.fade-out{
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 400ms, opacity 200ms ease-in-out  ;
}


